#outer {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  padding: 10px;
  border: 1px solid blue;
}

#inner {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  padding: 10px;
  border: 1px solid red;
}
